<a href="https://colab.research.google.com/github/minseok2/NFC_GPS/blob/master/Pandas_%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Series 데이터 구조 만들기

In [0]:
import pandas as pd 

fruit = pd.Series([3500, 2500], index = ['apple', 'peer']) 

print(fruit)

apple    3500
peer     2500
dtype: int64

Series 형태는 values 를 통해 항목을 추출할 수 있고 index를 따로 추출 할 수 있음.

In [0]:
print(fruit.values)
print(fruit.index)

[3500 2500]
Index(['apple', 'peer'], dtype='object')

index의 이름과 value의 이름을 지정할 수 있음

In [0]:
fruit.index.name = 'fruitName'
fruit.name = 'fruitPrice'

print(fruit)

fruitName
apple    3500
peer     2500
Name: fruitPrice, dtype: int64

# DataFrame 데이터 구조 만들기

In [0]:
fruitData = {'fruitName' : ['apple', 'cherry', 'peer'], 
             'fruitPrice' : [2500, 6000, 1200], 
             'num' : [10, 3, 8] } 

fruitFrame = pd.DataFrame(fruitData) 

print(fruitFrame)

  fruitName  fruitPrice  num
0     apple        2500   10
1    cherry        6000    3
2      peer        1200    8

In [0]:
fruitFrame = pd.DataFrame(fruitData, columns = ['fruitPrice', 'num', 'fruitName'])

print(fruitFrame)

   fruitPrice  num fruitName
0        2500   10     apple
1        6000    3    cherry
2        1200    8      peer

특정 컬럼 출력하기

In [0]:
fruitFrame['fruitName']

0     apple
1    cherry
2      peer
Name: fruitName, dtype: object

In [0]:
fruitFrame.fruitName

0     apple
1    cherry
2      peer
Name: fruitName, dtype: object

컬럼 추가하기

In [0]:
fruitFrame['year'] = 2016 

print(fruitFrame)

   fruitPrice  num fruitName  year
0        2500   10     apple  2016
1        6000    3    cherry  2016
2        1200    8      peer  2016

Series로 컬럼 추가하기

In [0]:
variable =  pd.Series([4, 2], index = [0, 2]) 
fruitFrame['stock'] = variable 

print(fruitFrame)

   fruitPrice  num fruitName  year  stock
0        2500   10     apple  2016    4.0
1        6000    3    cherry  2016    NaN
2        1200    8      peer  2016    2.0

**결측값 제거** <br>
dropna(axis=0) -> 행 삭제 <br>
dropna(axis=1) -> 열 삭제 <br>
fillna() -> 결측 값 채우기

In [0]:
fruitFrame.fillna(value=0)

   fruitPrice  num fruitName  year  stock
0        2500   10     apple  2016    4.0
1        6000    3    cherry  2016    0.0
2        1200    8      peer  2016    2.0

dtype('float64')

**자료 다루기**<br>
 데이터 구조의 항목 삭제 <br>
 DataFrame row 삭제하기

In [0]:
fruitData = {'fruitName' : ['apple', 'cherry', 'peer'],
             'fruitPrice' : [2500, 6000, 1200], 
             'num' : [10, 3, 8]} 

fruitName = fruitData['fruitName'] 

fruitFrame = pd.DataFrame(fruitData, 
                          index = fruitName, 
                          columns = ['fruitPrice', 'num']) 

fruitFrame2 = fruitFrame.drop(['apple', 'cherry']) 

fruitFrame3 = fruitFrame.drop(['num'], axis= 1)

print(fruitFrame,'\n') 
print(fruitFrame2, '\n') 
print(fruitFrame3)

        fruitPrice  num
apple         2500   10
cherry        6000    3
peer          1200    8

      fruitPrice  num
peer        1200    8

        fruitPrice
apple         2500
cherry        6000
peer          1200

DataFrame row 추가하기

In [0]:
fruitFrame2.loc[0, 'num'] = 8

fruitFrame2.loc[1] = [2000, 3]

fruitFrame2.loc[2] = {'num':2, 'fruitPrice':1234 }

print(fruitFrame2)

      fruitPrice  num
peer      1200.0  8.0
0            NaN  8.0
1         2000.0  3.0
2         1234.0  2.0

특정 항목 추출하기

In [0]:
print(fruitFrame['fruitPrice'], '\n') # fruitPrice만 출력
print(fruitFrame[:1]) # apple과 cherry 인덱스만 출력

apple     2500
cherry    6000
peer      1200
Name: fruitPrice, dtype: int64

       fruitPrice  num
apple        2500   10

형 변환

In [0]:
print(fruitFrame['fruitPrice'].dtype)

print(fruitFrame['fruitPrice'].astype('float').dtype)

int64
float64

DataFrame 정렬하기

In [0]:
print(fruitFrame.sort_values(['num']), '\n') 
print(fruitFrame.sort_values(['num'], ascending = False) )

        fruitPrice  num
cherry        6000    3
peer          1200    8
apple         2500   10

        fruitPrice  num
apple         2500   10
peer          1200    8
cherry        6000    3

# DATAFRAME 통계

In [0]:
fruitFrame.describe()

        fruitPrice        num
count     3.000000   3.000000
mean   3233.333333   7.000000
std    2482.606158   3.605551
min    1200.000000   3.000000
25%    1850.000000   5.500000
50%    2500.000000   8.000000
75%    4250.000000   9.000000
max    6000.000000  10.000000

# 실 데이터 활용
구글 드라이브 연동

In [0]:
from google.colab import drive
import pandas as pd
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

/content/gdrive/My Drive 까지는 고정

In [0]:
DATA_PATH = '/content/gdrive/My Drive/test'
csvName = 'question.csv'

실습할 question.csv 파일의 컬럼은 question, answer, check 총 3개로 구성된 데이터

In [0]:
df = pd.read_csv(DATA_PATH + '/'+csvName,
                              sep=',',
                              names=['question', 'answer', 'check']
                             )

head()를 사용하게 되면 dataframe에 상위 5개를 출력함 ( default = 5 ) 
<br>head(10) 시 10개 출력

In [0]:
df.head()

                                            question             answer check
0  대표적 협상 실패 사례로 꼽히는 지난 98년 한일 어업협정의 경우, 협상의 성패를 ...                 정보     Y
1  협상이 시작할 무렵, 공통의 관심사나 적절한 유머 등을 통해 상대방과 나 사이의 차...       Ice breaking     Y
2  협상을 시작하기에 앞서 ‘무엇을’, ‘어떤 순서로’ 협의할 것인가를 결정하는 것이 ...             Agenda     Y
3  대표적 협상 실패 사례로 꼽히는 지난 98년 한일 어업협정의 경우, 협상의 성패를 ...                 정보     Y
4  협상이 시작할 무렵, 공통의 관심사나 적절한 유머 등을 통해 상대방과 나 사이의 차...  icebreaking(얼음깨기)     Y

tail()은 그 반대로 하위 5개를 출력함

In [0]:
df.tail()

                                                 question answer check
261961  다음을 읽고 (     )안에 알맞은 온도를 쓰시오. 풀무원은 출고 전 두부의 중심...      5     Y
261962  탱탱 비빔 쫄면의 특허 받은 면은 어떤 면인가요?  OO안에 알맞은 말을 쓰시오. ...     바람     Y
261963  꼬불꼬불 물냉면은 면을 (     )분 삶아야 하나요?  (     )안에 올바른 ...      3     N
261964  겨울무와 무청까지 함께 담가 더욱 새콤하고 시원한 물냉면은 OOOOO물냉면이다. O...  겨울동치미     N
261965  겨울 동치미 물냉면은 면을 (     )초 삶아야 하나요?  (     )안에 올바...     30     N

원하는 데이터 출력

In [0]:
df[df['check'] == 'Y'].tail(10)

                                                 question answer check
261946  온도 관리에 대한 문제이다 . (     )안에 알맞은 단어를 채우시오. 보이지 않...     온도     Y
261947  탱탱 비빔 쫄면의 특허 받은 면은 어떤 면인가요?  OO안에 알맞은 말을 쓰시오. ...     바람     Y
261951  온도 관리에 대한 문제이다 . (     )안에 알맞은 단어를 채우시오. 보이지 않...     온도     Y
261952  다음을 읽고 (     )안에 알맞은 온도를 쓰시오. 풀무원은 출고 전 두부의 중심...      5     Y
261953  탱탱 비빔 쫄면의 특허 받은 면은 어떤 면인가요?  OO안에 알맞은 말을 쓰시오. ...     바람     Y
261956  온도 관리에 대한 문제이다 . (     )안에 알맞은 단어를 채우시오. 보이지 않...     온도     Y
261957  다음을 읽고 (     )안에 알맞은 온도를 쓰시오. 풀무원은 출고 전 두부의 중심...      5     Y
261958  탱탱 비빔 쫄면의 특허 받은 면은 어떤 면인가요?  OO안에 알맞은 말을 쓰시오. ...     바람     Y
261961  다음을 읽고 (     )안에 알맞은 온도를 쓰시오. 풀무원은 출고 전 두부의 중심...      5     Y
261962  탱탱 비빔 쫄면의 특허 받은 면은 어떤 면인가요?  OO안에 알맞은 말을 쓰시오. ...     바람     Y

In [0]:
df[df.question.str.contains('온도')].tail(10)

컬럼 이름 바꾸기 <br>
rename__df = df.rename(columns = {'Column Name': 'New Name'})

# 두 개의 DataFrame 합치기

pandas 의 병합 방법<br>
merge : 컬럼의 병합<br>
concat : index를 병합

In [0]:
csvName = 'question_index.csv'

In [0]:
df2 = pd.read_csv(DATA_PATH + '/'+csvName,
                              sep=',', header=0,
                              names=['question_idx', 'question']
                             )

In [0]:
df2 = pd.read_csv(DATA_PATH + '/'+csvName,
                              sep=','
                             )
df2.head()

   question_idx                                           question
0             0  OO은 판매 현장뿐 아니라 생활속에서 어떤것과도 양보할 수 없는 최우선의 가치입니다...
1             1  안전 수칙으로 상품 취급기준 중  상품드는 기준에 대한 설명이다.  (     )에...
2             2  풀무원 직화짜장생면은 MSG를 사용하지 않고 (     )방식으로 볶아 짜장의 맛이...
3             3  계획의 운영에 대해서 매년 정기적으로 계획과 실적간의 차이를 비교해 그 시점에서 새...
4             4  하버드대학의 제임스 헤스켓(James Heskett ) 교수가 주창한 것으로, 직원...

In [0]:
all_df = pd.merge(df, df2)

In [0]:
all_df.head()

                                       question answer check  question_idx
0  현상이나 사물을 이해하는데 있어 독특한 규칙이나 사고의 체계를 무엇이라 하는가?   패러다임     Y           266
1  현상이나 사물을 이해하는데 있어 독특한 규칙이나 사고의 체계를 무엇이라 하는가?   패러다임     Y           266
2  현상이나 사물을 이해하는데 있어 독특한 규칙이나 사고의 체계를 무엇이라 하는가?   패러다임     Y           266
3  현상이나 사물을 이해하는데 있어 독특한 규칙이나 사고의 체계를 무엇이라 하는가?   패러다임     Y           266
4  현상이나 사물을 이해하는데 있어 독특한 규칙이나 사고의 체계를 무엇이라 하는가?   패러다임     Y           266

특정 열과 컬럼 출력

In [0]:
all_df.iloc[1:10, :3] #[ index , columns ]

                                       question answer check
1  현상이나 사물을 이해하는데 있어 독특한 규칙이나 사고의 체계를 무엇이라 하는가?   패러다임     Y
2  현상이나 사물을 이해하는데 있어 독특한 규칙이나 사고의 체계를 무엇이라 하는가?   패러다임     Y
3  현상이나 사물을 이해하는데 있어 독특한 규칙이나 사고의 체계를 무엇이라 하는가?   패러다임     Y
4  현상이나 사물을 이해하는데 있어 독특한 규칙이나 사고의 체계를 무엇이라 하는가?   패러다임     Y
5  현상이나 사물을 이해하는데 있어 독특한 규칙이나 사고의 체계를 무엇이라 하는가?   패러다임     Y
6  현상이나 사물을 이해하는데 있어 독특한 규칙이나 사고의 체계를 무엇이라 하는가?  정답 모름     N
7  현상이나 사물을 이해하는데 있어 독특한 규칙이나 사고의 체계를 무엇이라 하는가?   패러다임     Y
8  현상이나 사물을 이해하는데 있어 독특한 규칙이나 사고의 체계를 무엇이라 하는가?   패러다임     Y
9  현상이나 사물을 이해하는데 있어 독특한 규칙이나 사고의 체계를 무엇이라 하는가?   정답모름     N

원하는 데이터들의 특정 열 출력

In [0]:
  df[df.question.str.contains('온도')].iloc[:5, 0:3]

                                                question  ... check
51338  ( )은(는) 물체의 물리적 상태(Phase)를 바꾸거나(고체, 액체, 기체), 물...  ...     Y
51343  ( )은(는) 물체의 물리적 상태(Phase)를 바꾸거나(고체, 액체, 기체), 물...  ...     Y
88479  ( )은(는) 물체의 물리적 상태(Phase)를 바꾸거나(고체, 액체, 기체), 물...  ...     Y
88544  ( )은(는) 물체의 물리적 상태(Phase)를 바꾸거나(고체, 액체, 기체), 물...  ...     Y
88629  ( )은(는) 물체의 물리적 상태(Phase)를 바꾸거나(고체, 액체, 기체), 물...  ...     Y

[5 rows x 3 columns]

DataFrame 그룹화 하기

In [0]:
questions_df = all_df.groupby(['question_idx'])

In [0]:
len(question_df), len(all_df)

(6690, 128458)